﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UserInfoBoxControl.ascx.cs" Inherits="Class4.UserInfoBoxControl" %>
<b>Information about <%=this.UserName %></b>
<br>
<%=this.UserName %> is <%=this.UserAge %> y/o and lives in <%=this.UserCity %><br><br>
