﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="BlackJack.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link href="styles.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div id="container">
        <form id="form1" runat="server">
            <div>
                WELCOME!
                <br />
                Please enter your username:
                <br />
                <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
                <br />
                <asp:Button ID="Button1" runat="server" Text="Play" OnClick="Button1_Click" />
            </div>
        </form>
    </div>


</body>
</html>
