﻿body {
    background-image: url('img/poker-table-background.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    height:528px;
    width:100%;
}
#Mycontainer {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    text-align: center;
    overflow: scroll;
}
#form1{
    display:inline-block;
    height:250px;
    width:300px;
    
    top:300px;
    background-color:white;
}


.Myimages {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
    

.Myimages img {
        padding: 100px;
    }
#player{
    margin-top:200px;
}

h3 {
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px #770000;
}